{% extends 'base.html.twig' %}

{% block title %}ClubHouse{% endblock %}

{% block body %}
    {% set people = people|default([]) %}

    <a href="{{ path('person.create') }}">New</a>
    <table>
        <thead>
            <tr>
                <th>Person Name</th>
                <th>Person's User Email</th>
            </tr>
        </thead>
        <tbody>
    {% for person in people %}
        <tr data-person-id="{{ person.id }}">
            <td>
                {{ person.name }}
            </td>
            <td>
                {{ person.user ? person.user.email : 'No user assigned' }}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
