{% set navLinks = [
    {
        'text': 'People',
        'route': 'person.index'
    },
    {
        'text': 'Teams',
        'route': 'team.index'
    },
    {
        'text': 'Sports',
        'route': 'sport.index'
    },
    {
        'text': 'Matches',
        'route': 'match.index'
    },
] %}

<nav class="navbar navbar-expand-lg bg-primary text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">
        <i class="fa-solid fa-football"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        {% for link in navLinks %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path(link.route) }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
</nav>
