@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-ExtraBold.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-Black.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-Thin.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Condensed';
    src: url('../../fonts/Saira_Condensed/SairaCondensed-ExtraLight.ttf');
    font-weight: 100;
    font-style: normal;
}
